@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  .sora {
    font-family: "Sora", sans-serif;
  }
}

.Toastify__toast {
  width: 320px;
  max-width: 90vw;
}
